# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/sprinthub"

# JWT
JWT_SECRET=
JWT_REFRESH_SECRET=

# Backend Api
PORT=3001
NODE_ENV=development

# Frontend Web
NEXT_PUBLIC_API_URL=http://localhost:3001/api/v1